{{- with $base := (printf "configs/%s" (env "DE_ENV")) -}}
{{ with $v := (key (printf "%s/elasticsearch/host" $base )) }}infosquito.es.host = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/elasticsearch/port" $base )) }}infosquito.es.port = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/elasticsearch/data-alias" $base )) }}infosquito.es.index = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/elasticsearch/scroll-size" $base )) }}infosquito.es.scroll-size = {{ $v }}{{ end }}

{{ with $v := (key (printf "%s/icat/host" $base )) }}infosquito.icat.host = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/icat/port" $base )) }}infosquito.icat.port = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/icat/user" $base )) }}infosquito.icat.user = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/icat/password" $base )) }}infosquito.icat.password = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/icat/db" $base )) }}infosquito.icat.db = {{ $v }}{{ end }}

{{ with $v := (key (printf "%s/irods/zone" $base )) }}infosquito.base-collection  = /{{ $v }}{{ end }}
{{ with $v := (key (printf "%s/elasticsearch/batch-size" $base )) }}infosquito.index-batch-size = {{ $v }}{{ end }}

{{ with $v := (key (printf "%s/amqp/uri" $base )) }}infosquito.amqp.uri = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/infosquito/reindex-queue" $base )) }}infosquito.amqp.reindex-queue = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/amqp/exchange/name" $base )) }}infosquito.amqp.exchange.name = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/amqp/exchange/durable" $base )) }}infosquito.amqp.exchange.durable     = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/amqp/exchange/auto-delete" $base )) }}infosquito.amqp.exchange.auto-delete = {{ $v }}{{ end }}

{{ with $v := (key (printf "%s/infosquito/notify-enabled" $base )) }}infosquito.notify.enabled = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/infosquito/notify-count" $base )) }}infosquito.notify.count   = {{ $v }}{{ end }}

{{ with $v := (key (printf "%s/infosquito/retry-interval" $base )) }}infosquito.retry-interval = {{ $v }}{{ end }}
{{- end -}}
